@import '../../css/variables.css';

.moves {
  width: 100%;
  height: 200px;
  padding: 8px 0;

  display: grid;
  grid-template-columns: 200px 1fr;
}

.movesList {
  overflow-y: auto;
  margin-right: 16px;
}

.move {
  padding: 0 8px;
  cursor: pointer;
  color: var(--font-color-secondary);
}

.move:hover,
.selectedMove {
  color: #f2f2f2;
  background-color: var(--font-color-tertiary);
}

.detail__intro {
  min-height: 150px;
  font-style: 'italic';
  font-weight: '300';
}

.detail__title {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  font-size: var(--font-size-normal-2);
  font-weight: bold;
  color: var(--font-color-secondary);
}

.detail__line,
.detail__header {
  width: 90%;
  justify-content: space-between;
}

.detail__label {
  margin-right: 8px;
}

.detail__value {
  color: var(--font-color-tertiary);
  font-weight: bold;
}

.flexRowCenter {
  display: flex;
  align-items: center;
}

@media (max-width: 920px) {
  .detail__line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 570px) {
  .moves {
    min-height: 340px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .moves > div {
    width: 100%;
  }

  .detail__line,
  .detail__header {
    width: 100%;
  }

  .movesList {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
