@import '../../css/variables.css';

.pokemons {
  width: 100%;
  padding: 24px 48px;

  display: grid;
  grid-gap: 28px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--card-width), 1fr)
  );
  justify-items: center;
}

.settingsBar {
  background-color: var(--color-bg-light);
  padding: 2px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  top: var(--header-height);
  position: sticky;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .settingsBar {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 16px;
  }

  .pokemons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
