body {
  --gap: 32px;
}

.pokemonPage {
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.backBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--color-secondary);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 35%);
  margin-bottom: 16px;

  font-family: var(--font-primary);
  font-size: var(--font-size-big);
  font-weight: bold;
  transition: all 300ms;

  align-self: flex-start;
}

.backBtn:hover {
  color: var(--color-white);
  text-shadow: 2px 2px 3px rgb(0 0 0 / 35%);
}

.content {
  width: 1000px;
  max-width: 1000px;

  display: grid;
  grid-template-columns: var(--card-width) 1.6fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: var(--gap);
}

.moves {
  grid-column: 2 / 4;
}

@media (max-width: 1100px) {
  .content {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 920px) {
  .content {
    width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: var(--card-width) 1fr;
    grid-template-rows: repeat(3, max-content);
    justify-content: center;
  }

  .abilities {
    grid-row: 2 / 2;
  }

  .moves {
    grid-row: 3 / 3;
    grid-column: 1 / 3;
  }
}

@media (max-width: 570px) {
  .content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .content > div {
    width: 100%;
  }

  .moves {
    min-height: 400px;
  }
}
