.appContainer {
  display: flex;
  flex-flow: column;
}

.appHeader {
  cursor: pointer;
  text-align: center;
  background-color: var(--color-bg);
  box-shadow: 0 5px 2px rgb(0, 0, 0, 0.2);
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appHeader__avatarsLeft,
.appHeader__avatarsRight {
  display: block;
}

.appHeader__logo {
  height: 80%;
}

.appContent {
  background-color: #cacfda;
  min-height: 80vh;
}

.appFooter {
  padding: 12px 16px;
  color: var(--color-white);
  background-color: var(--color-bg-dark);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIA QUERIES */

@media (max-width: 1110px) {
  .appHeader {
    justify-content: space-around;
  }
  .appHeader__avatarsLeft {
    display: none;
  }
}

@media (max-width: 720px) {
  .appHeader {
    justify-content: center;
  }
  .appHeader__avatarsRight {
    display: none;
  }
}

@media (max-width: 570px) {
  * {
    --header-height: 70px;
  }
}
